In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/Marquis Sills/Desktop/DataBootCamp/project_1//Data Cleaning/education_demographics.csv")
df
# Remove rows containing the value 'x'
dfresult = df.dropna(how='all')

improved = dfresult[~(dfresult == '(X)').any(axis=1)]

In [5]:
# Create a boolean mask indicating which rows contain the phrase "!!Male!!Estimate"
male_mask = df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.contains('!!Male!!Estimate')
female_mask = df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.contains('!!Female!!Estimate')

# Filter the original dataframe into separate dataframes for male and female estimates
male_df = df[male_mask]
female_df = df[female_mask]

# Split the 'data' column into separate columns for each dataframe
male_df[['state', 'gender', 'estimate']] = male_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
female_df[['state', 'gender', 'estimate']] = female_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)

# Drop the original 'data' column from each dataframe
male_df.drop('RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT', axis=1, inplace=True)
female_df.drop('RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT', axis=1, inplace=True)
male_df = male_df.replace('N', 0)
female_df = female_df.replace('N', 0)

C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df[['state', 'gender', 'estimate']] = male_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df[['state', 'gender', 'estimate']] = female_df['RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].str.split('!!', expand=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_df.drop('RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT', axis=1, inplace=True)
C:\Users\Marquis Sills\AppData\Local\Temp\ipykernel_9808\2369759985.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_df.drop('RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT', axis=1, inplace=True)

In [6]:
# Print the resulting dataframes
male_df.head()

,White alone,White alone High school graduate or higher,White alone Bachelor's degree or higher,Black alone,Black alone High school graduate or higher,Black alone Bachelor's degree or higher,American Indian or Alaska Native alone,American Indian or Alaska Native alone High school graduate or higher,American Indian or Alaska Native alone Bachelor's degree or higher,Asian alone,...,Some other race Bachelor's degree or higher,Two or more races,Two or more races High school graduate or higher,Two or more races Bachelor's degree or higher,Hispanic or Latino Origin,Hispanic or Latino Origin High school graduate or higher,Hispanic or Latino Origin Bachelor's degree or higher,state,gender,estimate
2,1138403,1008457.0,345987.0,377410,311645,53878,6663,5224,1275,22164,...,4500.0,69575,56800.0,14663.0,59774,39000.0,9912.0,Alabama,Male,Estimate
8,166046,158910.0,56132.0,7822,7504,1845,29301,24426,1169,13602,...,1070.0,24424,21673.0,6415.0,14316,12123.0,2679.0,Alaska,Male,Estimate
14,1563187,1461903.0,592241.0,108640,99918,30951,83872,67602,6701,81928,...,28033.0,405459,311732.0,80069.0,666283,485997.0,100638.0,Arizona,Male,Estimate
20,726614,655605.0,190132.0,126303,108230,20076,5363,3916,1179,13810,...,2307.0,79667,61095.0,12846.0,63793,36001.0,7096.0,Arkansas,Male,Estimate
26,5767286,5386799.0,2590770.0,747822,667464,187814,178997,122160,27533,2053927,...,266164.0,2139055,1606094.0,489460.0,4731879,3165481.0,676036.0,California,Male,Estimate

In [13]:

# Remove any leading or trailing whitespace characters from the column names
male_df.columns = male_df.columns.str.strip()
female_df.columns = female_df.columns.str.strip()

In [49]:
#Output to EXCEL

male_df.to_csv("outputs/male_demographic.csv", index=False,encoding='utf-8-sig')
female_df.to_csv("outputs/female_demographic.csv", index=False, encoding='utf-8-sig')